.idea/encodings.xml
.idea/workspace.xml
DecisionTree/BankData.pyc
DecisionTree/CarData.pyc
DecisionTree/Id3.pyc
DecisionTree/Metrics.pyc
DecisionTree/Node.pyc
DecisionTree/Problem1.pyc
DecisionTree/Problem2.pyc
DecisionTree/__init__.pyc
DecisionTree/__pycache__/
EnsembleLearning/Problem2a.pyc
EnsembleLearning/Problem2b.pyc
EnsembleLearning/Problem2c.pyc
EnsembleLearning/__pycache__/
LinearRegression/__pycache__/
Perceptron/__pycache__/
Perceptron/temp.py
SVM/__pycache__/
